.dockerignore
node_modules
.git
Dockerfile*
.fly

# other apps
frontend
commands
storybook

# coverage
.coverage
.pnpm-debug.log*
.env*
*.tsbuildinfo
.eslint*
.vercel
.next
.turbo
.github
.husky
dist
.DS_Store
.gitignore
env.d.ts
LICENSE
prettier.config.js
README.md
test
jest*
babel*
