node_modules
.git
*.Dockerfile
.fly
static
test
.coverage
.vercel
.next
.turbo
.github
.husky
dist

# files
.dockerignore
.DS_Store
.gitignore
LICENSE
README.md
jest*
babel*
.pnpm-debug.log*
firebase-debug.log*
