node_modules
.git
Dockerfile*
.fly
static
test
.coverage
.vercel
.next
.turbo
.github
.husky
dist
# other apps
frontend
commands
storybook

# files
.dockerignore
.DS_Store
.gitignore
env.d.ts
LICENSE
prettier.config.js
README.md
jest*
babel*
.pnpm-debug.log*
.env*
.eslint*
