# GENERAL
BASE_URL=''
# DISCORD
DISCORD_CLIENT_TOKEN=''
DISCORD_CLIENT_ID=''
DISCORD_CLIENT_SECRET=''
DISCORD_REDIRECT_URI=''
DISCORD_APP_ENV=''
# FRONTEND
NEXT_PUBLIC_ALCHEMY_API_KEY_MAINNET=''
NEXT_PUBLIC_ALCHEMY_API_KEY_GOERLI=''
NEXT_PUBLIC_CHAIN_ID=''
NEXT_PUBLIC_MOCK=''
# SERVER AUTH
NEXTAUTH_SECRET=''
NEXTAUTH_URL_INTERNAL=''
# API
NEXT_PUBLIC_API_URL=''
ALCHEMY_API_KEY=''
ADMIN_API_KEY=''