# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# coverage
coverage
.coverage

# debug
.pnpm-debug.log*

# local env files
.env
.env.dev
.env.test
.env.testnet

# typescript
*.tsbuildinfo

# eslint cache
.eslintcache

# Next
next-env.d.ts

# Vercel
.vercel

# turbo
.turbo

# outputs
dist
.next
storybook-static

# misc
.DS_Store
